<h1>{{title}}</h1>
<p style="font-size: large;">Welcome to {{title}}</p>
<a href="/allData">View All Data</a>
  <a href="/viewData">View All Data (Table View)</a>
  <a href="/searchName">Search By Property Name</a>
  <a href="/searchProperty">Search By Property ID</a>
  {{!-- <a href="/priceFilter">Filter by Price</a> --}}
  <a href="/add">Add New Property</a>
  <a href="/deleteProperty">Delete Property</a>
  <a href="/updateProperty">Update Property</a>